.dropdown {
    width: 320px;
    position: absolute;
}

.dropdown__element {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 16px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.2);
    overflow: auto;
    z-index: 1;
}

.dropdown__item {
    position: relative;
    margin-top: -1px;

    &:after, &:before {
        content: '';
        display: block;
        height: 1px;
        background-color: #e8e8ed;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    &--employee {
        position: relative;
        margin-top: -1px;
    }
}

.dropdown__anchor {
    display: flex;
    align-items: center;
    padding: 9px 21px;
    cursor: pointer;
    color: #000;
    text-decoration: none;

    &:hover {
        background-color: #F6F6F6;
    }

    &:focus {
        color: #990AE3;
    }

    &.is-active {
        color: #990AE3;
    }

    &.is-hovered {
        background-color: #F6F6F6;
    }

    &--employee {
        display: flex;
        align-items: center;
        padding: 9px 21px;
        cursor: pointer;
        color: #D22DB9;
        text-decoration: none;

        &:hover {
            color: #FF00CD;
            background-color: #F6F6F6;
        }

        &:focus {
            color: #990AE3;
        }

        &.is-hovered {
            background-color: #F6F6F6;
        }
    }
}